@model PasswordResetModel
@{
    ViewBag.Title = "Wachtwoord vergeten";
}


@if (!Model.Success)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <p style="margin-top: 15px">
                Ben je je wachtwoord vergeten? Vul hieronder je e-mailadres in om een nieuwe aan te vragen.
            </p>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "alert-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Verstuur" class="btn btn-success" /> |
                    <a href="@Url.Action("Login", "Account")">Terug</a>
                </div>

            </div>
        </div>
    }
}
else
{
    <p class="bg-success" style="margin-top: 15px; padding: 15px">
        Er is een nieuw wachtwoord verstuurd naar <strong>@Model.Email</strong>. <a href="@Url.Action("Login")">Inloggen »</a>
    </p>
}

