@model CounselingModel

@{
    ViewBag.Title = "SLB gesprek";
}

<h2>SLB gesprek</h2>
<h3>@Model.StudentName</h3>
<h4>@Model.AppointmentDate.ToString("dddd d MMMM HH:mm")u</h4>

<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Notitie
        </dt>

        <dd>
            @Html.Raw(Model.Comment)
        </dd>

        <dt>
            Prive
        </dt>

        <dd>
            @(Model.Private ? "Ja" : "Nee")
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @switch (Model.Status)
            {
                case Status.Green:
                    <img src="~/Content/images/green.png" alt="Groen" title="Groen" width="20" />
                    break;
                case Status.Orange:
                    <img src="~/Content/images/orange.png" alt="Oranje" title="Oranje" width="20" />
                    break;
                case Status.Red:
                    <img src="~/Content/images/red.png" alt="Rood" title="Rood" width="20" />
                    break;
            }
        </dd>

    </dl>
</div>

<p>
    <!--todo: vastlegging wijzigen-->
    <a href="@Url.Action("Edit", "Counseling", new { appointmentId = Model.AppointmentId})" class="btn btn-primary">Vastlegging wijzigen</a> |
    <a href="@Url.Action("Details", "Appointment", new { id = @Model.AppointmentId })">Terug naar de afspraak</a>
</p>