@model IEnumerable<StudentFollowingSystem.ViewModels.SubjectModel>

@{
    ViewBag.Title = "Overzicht";
}

<h2>Overzicht</h2>

<p>
    @Html.ActionLink("Nieuwe Les", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Vak:
        </th>
        <th>
            Start tijd:
        </th>
        <th>
            Eind tijd:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
