@model StudentDashboardModel

@{
    ViewBag.Title = "Studenten Dashboard";
}

<div class="container">
    <div class="col-md-6">
        <h3>Aankomende lessen:</h3>
        <div class="list-group">
            @if (Model.Subjects.Count > 0)
            {
                foreach (var subject in Model.Subjects)
                {
                    string css = "", title = "";
                    bool present = Model.IsPresent(subject);
                    if (subject.IsPastSubject())
                    {
                        if (present)
                        {
                            css = " list-group-item-success";
                            title = "Je was hier aanwezig";
                        }
                        else
                        {
                            css = " list-group-item-warning";
                            title = "Je hebt dit onderdeel gemist";
                        }
                    }
                    else if (subject.IsCurrentSubject())
                    {
                        css = " list-group-item-info";
                        title = "Je bent hier aanwezig";
                    }
                    <a class="list-group-item@(css)" href="@Url.Action("Presence", new { subjectId = subject.Id })" title="@title">
                        <h4 class="list-group-item-heading">@subject.Name</h4>
                        <p class="list-group-item-text">
                            @if (Model.IsPresent(subject))
                            {
                                <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                            }
                            else if (!present && subject.IsPastSubject())
                            {
                                <span class="glyphicon glyphicon-exclamation-sign pull-right" aria-hidden="true"></span>
                            }
                            @subject.StartDate.ToString("HH:mm") - @subject.EndDate.ToString("HH:mm")<br />
                            @subject.Locatie<br />
                        </p>
                    </a>
                }
            }
            else
            {
                <p class="list-group-item">Er zijn geen lessen meer voor vandaag.</p>
            }
        </div>
    </div>
</div>
