@model IEnumerable<StudentFollowingSystem.ViewModels.StudentModel>

@{
    ViewBag.Title = "Studenten";
}

<h2>Studenten</h2>

<p>
    @Html.ActionLink("Nieuwe student toevoegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Studentnummer
        </th>
        <th>
            Voornaam
        </th>
        <th>
            Achternaam
        </th>
        <th>
            E-mailadres
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.StudentNr
        </td>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @{
                if (item.Status == StudentFollowingSystem.Models.Status.Green)
                {
                    <img src="~/Content/images/green.png" width="20"/>
                }
                if (item.Status == StudentFollowingSystem.Models.Status.Red)
                {
                    <img src="~/Content/images/Red.png" width="20" />
                }
                if (item.Status == StudentFollowingSystem.Models.Status.Orange)
                {
                    <img src="~/Content/images/orange.png" width="20" />
                }
}
        </td>
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
