@model IEnumerable<StudentFollowingSystem.ViewModels.StudentModel>

@{
    ViewBag.Title = "Studenten";
}

<h2>Studenten</h2>

<p>
    @Html.ActionLink("Nieuwe student toevoegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Studentnummer
        </th>
        <th>
            Voornaam
        </th>
        <th>
            Achternaam
        </th>
        <th>
            E-mailadres
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.StudentNr
        </td>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Status
        </td>
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
            @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
