@model StudentFollowingSystem.ViewModels.MenuModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("NHL SVS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (Model.IsStudent)
                {
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Students")</li>
                    <li>@Html.ActionLink("Gegevens wijzigen", "Edit", "Students")</li>
                    <li>@Html.ActionLink("SLB gesprek aanvragen", "AppointmentByStudent", "Appointment")</li>
                }
                else if (Model.IsCounseler)
                {
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Counseler")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Overzichten <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Klassen overzicht", "List", "Class")</li>
                            <li>@Html.ActionLink("Studenten overzicht", "List", "Students")</li>
                            <li>@Html.ActionLink("Onderdelen overzicht", "List", "Subjects")</li>
                            <li>@Html.ActionLink("Gearchiveerde afspraken", "List", "Appointment")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("SLB gesprek aanvragen", "AppointmentByCounseler", "Appointment")</li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Help", "Help", "Home")</li>
                @if (Model.IsAuthenticated)
                {
                    <li><p class="navbar-text">Welkom @Model.Username | @Html.ActionLink("Uitloggen", "Logout", "Account", null, new { @class = "navbar-link" })</p></li>
                }
                else
                {
                    <li>@Html.ActionLink("Inloggen", "Login", "Account")</li>
                }
            </ul>
        </div>
    </div>
</div>
