@model IEnumerable<StudentFollowingSystem.ViewModels.AppointmentModel>

@{
    ViewBag.Title = "Afspraken";
}

<style>
    .tableRowData:hover {
        background-color: #f5f5f5;
    }
</style>

<h2>Afspraken</h2>

<p>
    @Html.ActionLink("Nieuwe afspraak maken", "AppointmentByCounseler")
</p>
<table class="table">
    <tr>
        <th>
            Datum
        </th>
        <th>
            Voornaam
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Geaccepteerd
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tableRowData" onclick="location.href = '@Url.Action("Details", "Appointment", new { id = item.Id })'">
            <td>
                @item.DateTime.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.Student.FirstName
            </td>
            <td>
                @item.Student.LastName
            </td>
            <td>
                @item.Accepted
            </td>
        </tr>
    }
</table>
